[submodule "imgui"]
    path = thirdparty/imgui
    url = https://github.com/ocornut/imgui.git

[submodule "glfw"]
    path = thirdparty/glfw
    url = https://github.com/glfw/glfw.git

[submodule "glm"]
    path = thirdparty/glm
    url = https://github.com/g-truc/glm.git

[submodule "meb"]
    path = thirdparty/meb
    url = https://github.com/marcmaravall/meb.git

[submodule "stb"]
    path = thirdparty/stb
    url = https://github.com/nothings/stb.git

[submodule "sol2"]
    path = thirdparty/sol2
    url = https://github.com/ThePhD/sol2.git

[submodule "lua"]
	path = thirdparty/lua
	url = https://github.com/walterschell/Lua

[submodule "nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git

[submodule "portable-file-dialogs"]
	path = thirdparty/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git

[submodule "sol2_ImGui_Bindings"]
    path = thirdparty/sol2_ImGui_Bindings
    url = https://github.com/marcmaravall/sol2_ImGui_Bindings.git
[submodule "thirdparty/mfsw"]
	path = thirdparty/mfsw
	url = https://github.com/marcmaravall/mfsw
