[submodule "imgui"]
    path = thirdparty/imgui
    url = https://github.com/ocornut/imgui.git

[submodule "glfw"]
    path = thirdparty/glfw
    url = https://github.com/glfw/glfw.git

[submodule "glm"]
    path = thirdparty/glm
    url = https://github.com/g-truc/glm.git

[submodule "meb"]
    path = thirdparty/meb
    url = https://github.com/marcmaravall/meb.git

[submodule "stb"]
    path = thirdparty/stb
    url = https://github.com/nothings/stb.git

[submodule "sol2"]
    path = thirdparty/sol2
    url = https://github.com/ThePhD/sol2.git

[submodule "thirdparty/lua"]
	path = thirdparty/lua
	url = https://github.com/walterschell/Lua

[submodule "nlohmann-json"]
    path = thirdparty/nlohmann_json
    url = https://github.com/nlohmann/json